{{%define "title"%}} - Record Manager{{%end%}}

{{%define "headcontent"%}}
{{%end%}}

{{%define "AppHomeUrl"%}}/{{%end%}}
{{%define "AppName"%}}Record Manager{{%end%}}
    
{{%define "bodycontent"%}}

<div class="row">
    <div class="col-md-3 form-group">
    <a href="/healthmon/" class="btn btn-default btn-sm active" role="button">
    <span class="glyphicon glyphicon-play"></span> Health Monitor
    </a>
    </div>
</div>

{{%end%}}

{{%define "footer"%}}{{%end%}}
                                                                                
{{%define "script"%}}
{{%end%}}

